
<div class="container">
    <div class="row">
        <div class="col col-md">
            <div id="host">
                <h1>Host</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio cumque suscipit sed accusantium est facilis quibusdam ab tenetur, architecto voluptas delectus obcaecati? Deleniti sunt libero architecto vitae adipisci, harum quibusdam.</p>

            </div>
        </div>
        <div class="col col-md">
            <div id="join">
                <h1>Join</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio cumque suscipit sed accusantium est facilis quibusdam ab tenetur, architecto voluptas delectus obcaecati? Deleniti sunt libero architecto vitae adipisci, harum quibusdam.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
            <div class="btn btn-primary" id="thing" (click)="changeText()">Click Me</div>
    </div>
    <div class="col-sm"></div>
</div>
<div class="row medSpace"></div>
<div class="row">
    <div class="col-sm"></div>
        <div class="col-sm" id="messageBearer">
            <h1 id="text" class="message" >{{msg}}</h1>
        </div>
    <div class="col-sm"></div>
</div>
