
@import "../../styles.scss";
$bar : lighten($main, 20%);

.bar{
    background-color: $bar;
    display: flex;
    justify-content: center;
    color: lighten(yellow, 30%);
    box-shadow: -3px 3px 7px $box-shadow;
}

.bar h2{
    margin: 1rem;
}