
@import "../../styles.scss";
$bar : lighten($main, 20%);

.bar{
    text-align: center;
    color: lighten(yellow, 20%);
    border: solid 1px transparent;
    backdrop-filter: blur(0.5rem);
    background-clip: padding-box;
    box-shadow: -5px 5px 7px rgba(black, 0.5);
}

.bar h1{
    margin: 2rem;
}