/* You can add global styles to this file, and also import other style files */
$main :  rgba(25, 15, 41);
$btn-primary : lighten($main, 20%);
$box-shadow : lighten($main, 15%);

@keyframes circle{
    0% {left: 0%; top: 0%;}
    25% {left: 50%; top: 0%;}
    50% {left: 50%; top: 50%;}
    75% {left: 0%; top: 50%;}
    100% {left: 0%; top: 0%;}
}

body{
background-color: $main;
background-image: url("assets/images/bg.jpg");
font-family: Helvetica, Arial, sans-serif;
}

.medSpace{
    height: 10rem;
}